
/* ==========================================================================
   @imports
   ========================================================================= */

   @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

   @import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
   
   @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
 
   
   /* ==========================================================================
      Responsive images and box padding
      ========================================================================= */
   
   
   img, object {
       display: block; 
       border: 0; 
       max-width: 100%; 
       height: auto;  
   }
   
   * {
       -moz-box-sizing:border-box;
       -webkit-kit-box-sizing:border-box;
       -webkit-margin-before: 0px;
       -webkit-margin-after: 0px;
       -webkit-margin-start: 0px;
       -webkit-margin-end: 0px;
       box-sizing:border-box;
       margin: 0;
       padding: 0;
       -webkit-font-smoothing:antialiased;
   }


* {
  scroll-behavior: smooth;
}

  /* ==========================================================================
      Main Body and Default Heading an Link styles
      ========================================================================= */
   
      body {
        margin: 0;
        padding: 0;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 500;
        background: lightgray;
      }
      
      h1{
        font-weight: 800;
        font-size: 4em;
        letter-spacing: -4px;
      }
      h2{
         font-weight: 400;
         font-size: 2.5em;
         letter-spacing: -1px;
         padding: 10px 0;
      }
      h3{
        font-weight: 900;
        font-size: 1.5em;
        padding: 10px 0;
      }
      h4{
        font-weight: 600;
        font-size: 1.3em;
      }
      h5{
        font-weight: 100;
        font-size: 1.6em;
      }
      h6{
        font-weight: 700;
        font-size: 1em;
      }
      
      .container{
        margin: 0 auto;
        width:78%;
        margin-top:60px;
      }
      .black-btn{
        background: #222;
        color:#fff;
        padding:10px 50px;
        border:0;
        margin: 20px 0px;
        cursor:pointer;
      }

      .nav-header{
        width: 100%;
        height: 80px;
        position: relative;
        color:#222;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px 0;
        background-color: rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.1);
        background:#333;
      
        -webkit-box-shadow: -2px 9px 15px -8px rgba(0,0,0,0.36);
        -moz-box-shadow: -2px 9px 15px -8px rgba(0,0,0,0.36);
        box-shadow: -2px 9px 15px -8px rgba(0,0,0,0.36);
      }

      .nav-header .logo a{
        background: #222;
        color:#fff;
      }
      .nav-header .logo a:hover{
        color:#ccc;
        background:#222;
      } 
      /* Masthead styles */
      .loading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
      }
      .loading em{
        font-size: 1.8em;
      }

      .Masthead{
        display: flex;
        align-items: center;
        justify-content: center;
        background:#222;
        color:#fff;
        height:84vh;
        
      }
      .Masthead div{
        text-align:center;
      }
      .Masthead  p,
      .Masthead h1{
        /* display:block;
        width:100%; */
        padding:10px 0px;
      }