header {
  width: 100%;
  height: 80px;
  position: relative;
  color: #222;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0;
  background-color: rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.1);
  background: #333;
  -webkit-box-shadow: -2px 9px 15px -8px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -2px 9px 15px -8px rgba(0, 0, 0, 0.36);
  box-shadow: -2px 9px 15px -8px rgba(0, 0, 0, 0.36);
}
header .logo {
  margin-top: 0px;
}
header .logo a {
  background: #fff;
  display: inline-block;
  width: auto !important;
  /* padding: 10px 10px; */
  border-radius: 16px;
  /* font-size: 1.4rem; */
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
}
header .logo a .active {
  font-size: 1.6rem;
}
header .gray {
  color: #ccc;
}
header a {
  color: #ccc;
  padding: 8px 10px;
  /* opacity: 0.55; */
  /* transition:all .6s; */
  cursor: pointer;
}
header a:hover {
  opacity: 1;
  color: #fff;
}
header [aria-current], header a.active {
  color: #fff;
  background: #000;
  /* font-family:'ClanPro-Bold'; */
  padding: 8px 10px;
  border-radius: 14px;
}
header .fa-bars {
  display: none;
  color: #ccc;
  font-size: 2rem;
}
header .fa-bars:hover {
  color: #fff;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav li {
  margin: 0 15px;
  justify-content: space-between;
}
header nav li a {
  text-decoration: none;
}
header nav li a.active {
  color: #fff;
}
header nav li a.active:hover {
  color: #222;
}
@media only screen and (max-width: 800px) {
  header {
    padding: 0px;
  }
  header .logo {
    padding-left: 15px;
    padding-top: 0px !important;
  }
}
@media only screen and (max-width: 768px) {
  header {
    height: auto;
    min-height: 50px;
    display: block;
    position: relative;
    padding-top: 9px;
  }
  header .logo {
    margin-top: 20px;
    margin: 0px;
    margin-left: -5px;
    margin-bottom: 10px;
  }
  header .fa-bars {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  header ul.collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  header ul.collapsed.is-expanded {
    overflow: hidden;
    max-height: 500px;
    /* approximate max height */
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  header ul.collapsed li {
    padding: 15px 10px;
    margin: 0px 0px;
    width: 100%;
  }
}
